* {
    --border-color-white: #fff;
    --border-width: 5px;
    --bottom-distance: 0px;
    --full-width: 100%;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.transition{
    transition: all .2s ease-out;
}

.h-60{
  height: 14rem;
}

.w-128{
  width: 32rem;
}
