* {
    --border-color-white: #fff;
    --border-width: 5px;
    --bottom-distance: 0px;
    --full-width: 100%;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

li {
    list-style-type: disc;
}

.site-content {
    min-height: 88.3vh;
}
