@font-face {
    font-family: CeraPro;
    src: url("../fonts/CeraPro-Regular.woff");
}

* {
    font-family: CeraPro;
}

h1, h2 {
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-size: 26px;
    font-weight: bold;
}

a {
    color: #FFCF00;
}
