.c-admin__bar {
    background-color: #000;
    color: #fff;
    justify-content: center;
    display: flex;
    width: 100%;
}

.c-admin__table {
    .c-admin__table-top {
        @apply bg-gray-50;

        td {
            font-size: 1rem;
            font-weight: bold;
            padding: 0.5rem 1.5rem;
            @apply text-gray-500;
        }
    }

    .c-admin__table-body {
        border-top: solid 1px rgb(107 114 128);
        @apply bg-white;

        td {
            font-size: 1rem;
            font-weight: bold;
            padding: 1.5rem;
            @apply text-gray-500;
        }
    }
}

.c-admin__single {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 55%);

    .c-admin__single-box {
        padding: 20px;
        background-color: white;
        border-radius: 20px;
        max-height: 600px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 10px;
            padding-right: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
}
