.c-button {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #000;
}

.c-button__default {
    color: #000;
    background-color: #FFCF00;

    &:hover {
        font-weight: bold;
    }
}

.c-button__account {
    padding: 10px 15px;
    background-color: #efefef;
    border: none;
    border-radius: 0;

    &:hover {
        font-weight: bold;
        background-color: #eaeaea;
    }
}
