.c-header {
    min-height: 70px;
    width: 100%;
    background-color: #FFCF00;

    img {
        width: 300px;
    }

    a {
        font-size: 20px;
    }

    .c-header__container {
        width: 1280px;
        margin: 0 auto;
    }
}
