.swiper-container {
    max-width: 90%;
    margin: 0 auto;
}

.swiper-pagination-bullet {
    margin: 0 3px;
}

.swiper-slide {
    &.free {
        background-color: #93e4ff;
    }
}

.swiper-button-prev, .swiper-button-next {
    color: #FFCF00 !important;
}

.swiper-pagination-bullet-active {
    background-color: #FFCF00 !important;
}
